/**gongong**/
body,ul,ol,li,p,h1,h2,h3,h4,table,td,th,form,fieldset,img,dl,dt,dd,input,select,bottom{margin:0;padding:0;}
body{font-family: arial,"宋体B8B\4F53";}

a{text-decoration:none;}
a:hover{text-decoration:none;}

/*img,input,li{ vertical-align:middle;}*/

.dogo-wp{ width:960px; margin:0 auto;}
.dogo-border{border: 1px solid #ccc;}/*临时设置最小高度*/
.dogo-pdtop1{padding-top: 5px;}
.dogo-pdtop2{padding-top: 10px;}
.dogo-pd10{padding: 10px;}
.blank{ margin-bottom:10px;}


.dogo-title-bt{border-bottom: 1px solid #FF6347;min-height: 30px;}





img{
  max-width: 640px;
  height:auto;
  width:expression(this.width > 640 ? "640px" : this.width);
}