/* CSS Document */
.dogo-top{height:28px; line-height:28px; background:url(../images/bgquicknav.gif) 0 0 repeat-x;}



/*head*/
.dogo-logo{height: 80px;border-bottom: 1px solid #dbdbdb;}
.dogo-logo .dogo-logo-img{height: 80px;}
/*search*/



/*nav*/
.dogo-nav{height: 40px;border-bottom: 2px solid #f60;}
/*menu*/
.dogo-menu{font-size: 14px;color: #dbdbdb;margin: 0;padding: 0;overflow: hidden;height: 40px;}
.dogo-menu li{float:left;margin: 0;display: block;line-height: 40px;}
.dogo-menu li.on{background: url(../images/navigation.jpg) no-repeat 50% 100%;}
.dogo-menu li a{display: block;height: 40px;padding: 0 32px;font-weight: bold;color:#2d2b2b; }
.dogo-menu li a:hover{background:url(../images/nav_a_hover.jpg) #f96706  repeat-x 0 0;color: white;}

/*dogo-sidebar*/
.dogo-sidebar{}
/*dogo-footer*/
.dogo-footer{border-top: 1px solid #ccc;}


.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus{background: #f60;}