/* CSS Document */
.dogo-top{height:28px; line-height:28px; background:url(../images/bgquicknav.gif) 0 0 repeat-x;}



/*head*/
.dogo-logo{height: 80px;border-bottom: 1px solid #dbdbdb;}
.dogo-logo .dogo-logo-img{height: 80px;}
/*search*/

.dogo-box-text li{background: url(../images/icon_org.jpg) left center no-repeat;}
.dogo-box-text2 li{background: url(../images/icon_org.jpg) left center no-repeat;}

/*nav*/
.dogo-nav{height: 40px;border-bottom: 2px solid #f60;}
/*menu*/
.dogo-menu{font-size: 14px;color: #dbdbdb;margin: 0;padding: 0;overflow: hidden;height: 40px;}
.dogo-menu li{float:left;margin: 0;display: block;line-height: 40px;}
.dogo-menu li.on{background: url(../images/navigation.jpg) no-repeat 50% 100%;}
.dogo-menu li a{display: block;height: 40px;padding: 0 32px;font-weight: bold;color:#2d2b2b; }
.dogo-menu li a:hover{background:url(../images/nav_a_hover.jpg) #f96706  repeat-x 0 0;color: white;}

/*dogo-sidebar*/
.dogo-sidebar{}

/*dogo-member*/
.dogo-member-index{}
.form-horizontal .control-label{width: 100px;}
.form-horizontal .controls {margin-left: 120px;}


/*dogo-footer*/
.dogo-footer{border-top: 1px solid #ccc;}k a{ height:25px; display:block; float:left; line-height:25px; margin:5px 5px; text-align:center;}
.dogo-footer-content{padding: 20px 0 50px 0;}
.dogo-footer-content p{text-align: center;line-height: 25px;}


.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus{background: #f60;}